node_modules
.env
.DS_Store
coverage
coverage.json
typechain
typechain-types
.vscode
ptau/*
contracts/CipherVerifier.sol
dist/**/*
contracts/CipherVKeyConst.sol

# Hardhat files
cache
artifacts
build/**/*



# Added by cargo

/target

# foundry
/out
